.profile__info {
  margin: 0;
  padding-left: 30px;
  max-width: 336px;
  min-height: 73px;
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: repeat(2, min-content);
  gap: 8px 18px;
  align-items: baseline;
  align-content: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 100%;
    min-height: fit-content;
    padding: 0;
    gap: 8px 10px;
    align-items: center;
    justify-content: center;
  }
}
