.popup__heading {
  margin: 0 auto;
  padding-bottom: 56px;
  width: 358px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .popup__heading {
    width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}
