.popup__submit {
  margin: 48px auto 37px;
  padding: 0;
  width: 358px;
  min-height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: black;
  color: #FFFFFF;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px;
  }
}

.popup__submit:hover {
  opacity: 0.8;
}
