.card__like_active {
  margin: 5px 5px 1px 5px;
  background-image: url(../../../../images/like-act.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  border: 0;
  width: 22px;
  height: 19px;
}
